<div class="content d-flex justify-content-center align-items-center pt-0">
  <!-- Login card -->
  <form class="login-form" [formGroup]="loginForm"  (ngSubmit)="login()">
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <img src="../../../../assets/images/bank.png"  height="84" alt=""> <h5 class="mb-0">Login to your account</h5>
          <span class="d-block text-muted">Your credentials</span>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="username" type="text" class="form-control" placeholder="Username">
          <div class="form-control-feedback">
            <i class="icon-user text-muted"></i>
          </div>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
          <div class="form-control-feedback">
            <i class="icon-lock2 text-muted"></i>
          </div>
        </div>

        <div class="form-group d-flex align-items-center">
          <div class="form-check mb-0">
            <label class="form-check-label">
              <input formControlName="rememberMe" type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
              Remember
            </label>
          </div>

          <a [routerLink]="['/account/reset-password']" class="ml-auto">Forgot password?</a>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
        </div>



        <div class="form-group text-center">
        </div>

        <div class="form-group text-center text-muted content-divider">
          <span class="px-2">Don't have an account?</span>
        </div>

        <div class="form-group">
          <a [routerLink]="['/account/register']" class="btn btn-light btn-block">Sign up</a>
        </div>

         </div>
    </div>
  </form>

</div>
