<div class="content d-flex justify-content-center align-items-center pt-0">


  <form class="login-form" [formGroup]="registerForm" (ngSubmit)="Accept()">
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <i class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="mb-0">Register your account</h5>
          <span class="d-block text-muted">Your details</span>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="UserName" type="text" class="form-control"
                 [ngClass]="{'is-invalid':username.errors && username.touched, 'is-valid':username.errors == null && username.touched}"
                 id="username" placeholder="UserName">
          <div class="invalid-feedback"
               *ngIf="username.hasError('usernameTaken')">
            Username is taken
          </div>

          <div class="invalid-feedback"
               *ngIf="username.hasError('required')">
            Username is required
          </div>

          <div class="invalid-feedback"
               *ngIf="username.hasError('minlength')">
            Username must be at least 3 characters
          </div>

          <div class="form-control-feedback">
            <i class="icon-user text-muted"></i>
          </div>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="emailAddress" type="text" class="form-control"
                 [ngClass]="{'is-invalid':emailAddress.errors && emailAddress.touched, 'is-valid':emailAddress.errors == null && emailAddress.touched}"
                 id="emailInput" placeholder="Email" autocomplete >
          <div class="invalid-feedback"
               *ngIf="emailAddress.hasError('emailTaken')">
            email is taken
          </div>

          <div class="invalid-feedback"
               *ngIf="emailAddress.hasError('required')">
            email is required
          </div>
          <div class="form-control-feedback">
            <i class="icon-mail5 text-muted"></i>
          </div>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="password" type="password" [pattern]="pwdPattern"
                 class="form-control "
                 [ngClass]="{'is-invalid':password.errors && password.touched, 'is-valid':password.errors == null && password.touched}"
                 id="password" placeholder="Password">

          <div class="invalid-feedback" *ngIf="password.hasError('required')">
            Password is required
          </div>

          <div class="invalid-feedback" *ngIf="password.errors?.pattern">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase-
            letter and 1 number.
          </div>
          <div class="form-control-feedback">
            <i class="icon-lock text-muted"></i>
          </div>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input type="password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched, 'is-valid':confirmPassword.errors == null && confirmPassword.touched}"
                 id="confirmPassword" placeholder="Confirm Password" autocomplete>

          <div class="invalid-feedback" *ngIf="confirmPassword.hasError('passwordMismatch')">
            Password do not match
          </div>
          <div class="invalid-feedback"
               *ngIf="registerForm.get('confirmPassword').hasError('required')">
            Confirm password is required
          </div>
          <div class="form-control-feedback">
            <i class="icon-lock text-muted"></i>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Register <i class="icon-circle-right2 ml-2"></i>
          </button>
        </div>

        <div class="form-group text-center text-muted content-divider">
          <span class="px-2">Already have an account?</span>
        </div>

        <div class="form-group">
          <a [routerLink]="['/account/login']" class="btn btn-light btn-block">Sign in</a>
        </div>

        <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a
          href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
      </div>
    </div>
  </form>


</div>

