<div class="content d-flex justify-content-center align-items-center pt-0">
  <!-- Login card -->
  <form class="login-form">
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <i class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="mb-0">Verifying your account</h5>
          <span class="d-block text-muted">Please wait while we verify your account</span>
        </div>
      </div>
    </div>
  </form>
  <!-- /login card -->
</div>

