<div class="content pt-0">
  <div class="d-flex align-items-start flex-column flex-md-row">
    <div class="tab-content w-100 order-2 order-md-1">

      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Account Creation</h5>
          <div class="header-elements">
            <div class="list-icons">
              <a class="list-icons-item" data-action="collapse"></a>
              <a class="list-icons-item" data-action="reload"></a>
              <a class="list-icons-item" data-action="remove"></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="newAccountForm" (ngSubmit)="openAccount()">





            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Account Owner </label>
                  <input type="text"  value="{{accHolder}}" class="form-control" formControlName="AccountName"
                         [ngClass]="{'is-invalid':accountName.errors && accountName.touched, 'is-valid':accountName.errors == null && accountName.touched}">

                  <div class="invalid-feedback"
                       *ngIf="accountName.hasError('required')">
                    Account Name is required
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Account Type</label>
                  <select class="form-control form-control-select2" formControlName="AccountType"
                          [ngClass]="{'is-invalid':accountTypes.errors && accountTypes.touched, 'is-valid':accountTypes.errors == null && accountTypes.touched}">
                    <option value="Current Account" selected="" data-select2-id="3">Current Account</option>
                    <option value="Savings Account">Savings Account</option>
                  </select>

                  <div class="invalid-feedback"
                       *ngIf="accountTypes.hasError('required')">
                    Account Type  is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">

                <div class="col-md-6">
                  <label>Initial Deposit</label>
                  <input type="number" min="1000" class="form-control" formControlName="Amount"
                         [ngClass]="{'is-invalid':amount.errors && amount.touched, 'is-valid':amount.errors == null && amount.touched}">

                  <div class="invalid-feedback"
                       *ngIf="amount.hasError('required')">
                    Amount  is required
                  </div>
                </div>
              </div>
            </div>




            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Create Account </button>

              </div>



            </div>

          </form>


        </div>

      </div>
    </div>
  </div>
</div>
