<div class="navbar navbar-expand-md navbar-light navbar-static">
  <div class="navbar-brand">
    <a href="index.html" class="d-inline-block">
      <img src="../../../../assets/images/bank.png" style="height: 70px" alt="">
    </a>
  </div>

  <div class="d-md-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
      <i class="icon-tree5"></i>
    </button>
    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
      <i class="icon-paragraph-justify3"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav mr-md-auto">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
        </div>
      </li>
      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <img src="../../../../assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
          <span>{{username}}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a [routerLink]="['/profile/account']"  routerLinkActive="active" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>

          <div class="dropdown-divider"></div>

          <a (click)="logout()" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
