<div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    Navigation
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->

  <!-- Sidebar content -->
  <div class="sidebar-content">

    <!-- User menu -->
    <div class="sidebar-user">
      <div class="card-body">
        <div class="media">
          <div class="mr-3">

          </div>

          <div class="media-body">


          </div>


        </div>
      </div>
    </div>
    <!-- /user menu -->

    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">
        <!-- Main -->
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
        <li class="nav-item">
          <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
            <i class="icon-home4"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="nav-item nav-item-submenu ">
          <a  class="nav-link">
            <i class="icon-user"></i>
            <span>Account Creation</span>
          </a>
          <ul class="nav nav-group-sub"  >
            <li class="nav-item"><a [routerLink]="['/openAccount/newAccount']"  routerLinkActive="active" class="nav-link">New Account</a></li>


          </ul>
        </li>

        <li class="nav-item nav-item-submenu ">
          <a  class="nav-link">
            <i class="icon-credit-card"></i>
            <span>Transactions</span>
          </a>
          <ul class="nav nav-group-sub"  >
            <li class="nav-item"><a [routerLink]="['/account/transactions']"  routerLinkActive="active" class="nav-link">Deposits / Withdrawals</a></li>


          </ul>
        </li>


      </ul>
    </div>


  </div>


</div>
