<div class="content pt-0">

  <div class="row">
    <div class="col-xl-12">

      <div class="row">

        <!-- Current Account -->
        <div class="col-lg-6">
          <div class="card bg-teal-400">
            <div class="card-body" >
              <div class="d-flex">
                <h3 class="font-weight-semibold mb-0">Total Current Balance</h3>
                <span class="badge bg-teal-800 badge-pill align-self-center ml-auto">{{userAccounts.accountType}}</span>
              </div>
              <div>
                <h3 class="font-weight-semibold mb-0">R {{accountBal}}</h3>
              </div>
            </div>
            <div class="container-fluid">
              <div id="members-online"></div>
            </div>
          </div>
        </div>

<!--        &lt;!&ndash; Savings Account &ndash;&gt;-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card bg-pink-400">-->
<!--            <div class="card-body">-->
<!--              <div class="d-flex">-->
<!--                <h3 class="font-weight-semibold mb-0">Total Savings Balance</h3>-->
<!--                <span class="badge bg-teal-800 badge-pill align-self-center ml-auto">Savings Account</span>-->
<!--              </div>-->
<!--              <div>-->
<!--                <h3 class="font-weight-semibold mb-0">R 0.00</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div id="server-load"></div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- Available Balance -->
        <div class="col-lg-6">
          <div class="card bg-blue-400">
            <div class="card-body">
              <div class="d-flex">
                <h3 class="font-weight-semibold mb-0">Total Available Balance</h3>
                <div class="list-icons ml-auto">
                  <span class="badge bg-teal-800 badge-pill align-self-center ml-auto">Total Balance</span>
                </div>
              </div>

              <div>
                <h3 class="font-weight-semibold mb-0">R {{accountBal}}</h3>
              </div>
            </div>
           </div>
        </div>
      </div>




      <!-- Daily sales -->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h6 class="card-title">My Transactions</h6>

        </div>

        <div class="card-body">
          <div class="chart" id="sales-heatmap"></div>
        </div>

        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th class="w-100">Transaction Type</th>
              <th class="w-100">Transaction Date</th>
              <th class="w-100">Amount</th>
              <th class="w-100">Account Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of myTransactions">
              <td>
                <div class="d-flex align-items-center">
                  <div class="mr-3">
                    <a href="#" class="btn bg-primary-400 rounded-round btn-icon btn-sm">
                      <span class="letter-icon"></span>
                    </a>
                  </div>
                  <div >
                    <a href="#" class="text-default font-weight-semibold letter-icon-title">{{transaction.transactionType}}</a>

                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted font-size-sm">{{transaction.transactionDate}}</span>
              </td>
              <td>
                <h6 class="font-weight-semibold mb-0">R {{transaction.amount}}</h6>
              </td>
              <td>
                <h6 class="font-weight-semibold mb-0">R {{transaction.accountBalance}}</h6>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>



    </div>
  </div>
</div>
