<div class="content d-flex justify-content-center align-items-center pt-0">
  <form class="login-form" [formGroup]="resetForm" (ngSubmit)="reset()">
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <img src="../../../../assets/images/rsz_logo.png"  height="84" alt="">
          <h5 class="mb-0">Reset Password</h5>
          <span class="d-block text-muted">Your credentials</span>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="emailAddress" type="text" class="form-control" placeholder="Email">
          <div class="form-control-feedback">
            <i class="icon-user text-muted"></i>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Reset Password <i class="icon-circle-right2 ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

