<div class="content pt-0">
  <div class="d-flex align-items-start flex-column flex-md-row">
    <div class="tab-content w-100 order-2 order-md-1">

      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Transactions Details</h5>

        </div>
        <div class="card-body">
          <form [formGroup]="newTransactionForm" (ngSubmit)="newTransaction()">
<!--            -->

            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Transaction Type</label>
                  <select formControlName="transactionType" class="form-control "
                          [ngClass]="{'is-invalid':transactionTypes.errors && transactionTypes.touched, 'is-valid':transactionTypes.errors == null && amount.touched}">

                   >
                    <option value="Deposit" selected="" data-select2-id="3"> Deposit</option>
                    <option value="Withdrawal">Withdrawal</option>



                  </select>
                  <div class="invalid-feedback"
                       *ngIf="transactionTypes.hasError('required')">
                    Transaction Type  is required
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Amount</label>
                  <input type="number"  class="form-control" formControlName="Amount"
                         [ngClass]="{'is-invalid':amount.errors && amount.touched, 'is-valid':amount.errors == null && amount.touched}">

                  <div class="invalid-feedback"
                       *ngIf="amount.hasError('required')">
                    Amount  is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Complete Transaction</button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
