
<div class="page-content">
  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Content area -->
    <router-outlet></router-outlet>

    <!-- /content area -->
  </div>
  <!-- /main content -->
</div>

