<div class="content d-flex justify-content-center align-items-center pt-0">

  <form class="login-form" [formGroup]="changeForm"  (ngSubmit)="resetPassword()">
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <img src="../../../../assets/images/rsz_logo.png"  height="84" alt="">
          <h5 class="mb-0">Change Password</h5>
          <span class="d-block text-muted">Your credentials</span>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="emailAddress" type="text" class="form-control" placeholder="email">
          <div class="form-control-feedback">
            <i class="icon-user text-muted"></i>
          </div>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="password" type="password" placeholder="Password"  class="form-control "
                 [ngClass]="{'is-invalid':password.errors && password.touched, 'is-valid':password.errors == null && password.touched}"
                 [pattern]="pwdPattern" >

          <div class="invalid-feedback" *ngIf="password.hasError('required')">
            Password is required
          </div>

          <div class="invalid-feedback" *ngIf="password.errors?.pattern">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase-
            letter and 1 number.
          </div>
          <div class="form-control-feedback">
            <i class="icon-lock2 text-muted"></i>
          </div>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input formControlName="ConfirmPassword" type="password"
                 placeholder="ConfirmPassword" class="form-control"
                 [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched,
                 'is-valid':confirmPassword.errors == null && confirmPassword.touched}"
                 autocomplete>

          <div class="invalid-feedback" *ngIf="confirmPassword.hasError('passwordMismatch')">
            Password do not match.
          </div>
          <div class="invalid-feedback"
               *ngIf="confirmPassword.hasError('required')">
            Confirm password is required.
          </div>
          <div class="form-control-feedback">
            <i class="icon-user text-muted"></i>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Change Password <i class="icon-circle-right2 ml-2"></i></button>
        </div>

      </div>
    </div>
  </form>

</div>
