<!-- Main navbar -->
<app-navbar></app-navbar>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">

  <!-- Main sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /main sidebar -->


  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Page header -->
    <app-page-header></app-page-header>
    <!-- /page header -->

    <router-outlet></router-outlet>

    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
                data-target="#navbar-footer">
          <i class="icon-unfold mr-2"></i>
          Footer
        </button>
      </div>

      <div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2021. <a href="#">Base Platform</a> <a target="_blank"></a>
					</span>


      </div>
    </div>
    <!-- /footer -->

  </div>
  <!-- /main content -->

</div>
<!-- /page content -->

